<h1>Messages#index</h1>
<%= render partial: 'message', collection: @messages %>

<%= form_for @message, url: messages_path, method: :POST do |f| %>
  <%= f.label :text %>
  <%= f.text_field :text %>
  <%= f.submit :send %>
<% end %>
